In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

import getJoinTable as gjt
join=gjt.joinTable()
join.head()

,fault_severity,id,location,sample,log_feature,volume,event_type,resource_type,severity_type
0,1,14121,location 118,train,feature 312,4,event_type 34,resource_type 2,severity_type 2
1,1,14121,location 118,train,feature 312,4,event_type 35,resource_type 2,severity_type 2
2,1,14121,location 118,train,feature 232,4,event_type 34,resource_type 2,severity_type 2
3,1,14121,location 118,train,feature 232,4,event_type 35,resource_type 2,severity_type 2
4,0,9320,location 91,train,feature 315,4,event_type 34,resource_type 2,severity_type 2

In [13]:
def drawCT(col):
    df=pd.crosstab(join['resource_type'],join['fault_severity'])
    ndf = df.div(df.sum(1).astype(float), axis=0)

    # Normalize the cross tab to sum to 1:
    ndf=ndf.sort(columns=[2.0])
    ndf.plot(kind='bar', 
                stacked=True, 
                title='Fault Severity by Location')
    plt.xlabel('Location')
    plt.ylabel('Fault Rate')    
    plt.show()

In [ ]:
i=1
cat_cols=['location','log_feature','severity_type','resource_type','event_type']
for cat in cat_cols:
    df=pd.crosstab(join[cat],join['fault_severity'])
    df=df.sum(0)
    plt.subplot(4,3,i)
    df.plot(kind='bar',stacked=True)
    i=i+1
plt.show()