In [4]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
import pandas as pd
import numpy as np
from sklearn import preprocessing as pre

a=np.array(['aa1','bb3','cc1','cc8','aa1'])
X=vectorizer.fit_transform(a)
X.toarray()
#vectorizer.get_feature_names()

array([[1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1],
       [1, 0, 0, 0]], dtype=int64)

In [11]:
df=pd.DataFrame({'id':[0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]})
df['id']=pre.scale(df['id'])
df

C:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:420: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)

          id
0  -0.185695
1  -0.185695
2  -0.185695
3   5.385165
4  -0.185695
5  -0.185695
6  -0.185695
7  -0.185695
8  -0.185695
9  -0.185695
10 -0.185695
11 -0.185695
12 -0.185695
13 -0.185695
14 -0.185695
15 -0.185695
16 -0.185695
17 -0.185695
18 -0.185695
19 -0.185695
20 -0.185695
21 -0.185695
22 -0.185695
23 -0.185695
24 -0.185695
25 -0.185695
26 -0.185695
27 -0.185695
28 -0.185695
29 -0.185695

In [51]:

df=pd.DataFrame({'f':['a', 'b','b','c','c','a'],'a':['a','b','b','a','c','a'],'id':[1,1,2,3,3,4]})
tmp=pd.get_dummies(df)
tmp

   is  a_a  a_b  a_c  f_a  f_b  f_c
0   1    1    0    0    1    0    0
1   1    0    1    0    0    1    0
2   2    0    1    0    0    1    0
3   3    1    0    0    0    0    1
4   3    0    0    1    0    0    1
5   4    1    0    0    1    0    0

In [55]:
tmp[:,2]

TypeError: unhashable type: 'slice'

In [56]:
print('=' * 80)

================================================================================